@import '../../_base';

#parent-div-filter-jokes
{
    .style-card-elem{
        @extend %card-custom-styles;
     }
     
     .custom-radio-styles{
         display:inline-block !important;
     }
     .custom-styles-filter-jokes-header{
         margin-bottom: 20px  !important;
         border-bottom: 5px solid $secondary-color;
         text-align: center;
     }
     .pad-btn-jokes-elem{
         margin:4px !important;
         width:100% !important;
     }
     .validator-error{
         @extend %validator-error;
     }
     .data-failed-fetch{
         color:$secondary-color;
     }
}
