@import '../../_base';

#parent-div-home
{
    .home-page-parent-div{
        width:60% !important;
        margin-left:20% !important;
        margin-right:20% !important;
        position: fixed !important;
        top:0;
        bottom:0;
        @extend %center-elem;  
        display: grid;        
    }
    .space-elements{
        margin-bottom:20px !important;
    }

}
