//variables
$font-stack:    Helvetica, sans-serif;
$primary-color: #3f51b5;
$secondary-color: #f50057; 
//reset body styles
body{
    margin:0;
    padding:0;
}
//extendable properties
%center-elem {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

%validator-error{
    color:$secondary-color;
    font-weight: bolder;
    margin-bottom:15px;
}